body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #222222;
  background-color: #ffffff;
  font-size: 19px;
}

h1,h2 {
  font-weight: 700 !important;
  letter-spacing: -0.03rem;
}

.img-64 {
  width: 64px;
  height: 64px;
}

.container{
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto
}

@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }


.btn {
    text-decoration: none;
    background-color: #3E6DBA;
    color: #fff;
    padding: 8px 16px 8px 16px;
    border: 1px solid #222;
    border-bottom: 2px solid #222;
    border-radius: 4px;
    box-shadow: 1px 1px 0px black;
    margin-bottom: 2px;
  }


.btn:hover {
    background-color: #3E6DBA; 
    color: #fff;
}

.audible {
  background-color: #FFA000;
  color: black;
}

.audible:hover {
  background-color: #FFA000;
  color: black;
}

.text-small {
  font-size: 80%;
}
