body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: lighter;
    color: #222222;
    background-color: white;
    font-size: 19px;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-weight: 400;
}

.container{
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }


.btn {
    -webkit-transition-duration: 0.25s; /* Safari */
    transition-duration: 0.25s;
    text-decoration: none;
    background-color: #eb5851;
    color: white;
    padding: 9px 24px 9px 24px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 3px;
  }

.btn:hover {
    background-color: #eb9651; /* Green */
    color: white;
}

.text-small {
  font-size: 80%;
}